.App {
  text-align: center;
}


.Router-Header {
  display: flex;
  flex-direction: row;

}
.Router-List {
  display:flex;
  flex-direction: column;
  
}

.Login-Buttons {
  width: 100px;
  height: 100px;

}

.Cards {
  margin-top: 20px;
  
}
.Black-Card {
  color:black;
  background-color: black;
  padding: 10px;
}
#black_card {
  width: 500px;
}
.White-Card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#Commit-Answer-Button {
  margin-top: 30px;
}

#card_default {
  color: black;
}
#card_selected {
  color: green;
}

#Answer_Selected {
  background-color: green;
}
#Answer_Default {
  background-color: gray;
}

#Card_Selected {
  background-color: green;
}
#Card_Default {
  background-color: gray;
}