body {
  background: #767676;
}

.App {
  text-align: center;
}
/*turns off dots in front of list*/

ul{
  list-style-type: none;
  padding: 0px;
}
li{
  list-style: none;
}

/*turns off link color and decoration*/
a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
/* Header */
.Router-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.Router-List {
  display:flex;
  flex-direction: row;
}
.ToggleHeader{
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}

.Header-Buttons:hover{
  color: rgb(240, 240, 240);
  transition: 250ms ease;
  box-shadow: inset 0 0 0 0.1rem;
}

.Header-Buttons{
  color: rgb(240, 240, 240);
  border: none;
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0.5rem 1.2rem rgba(0, 0, 0, 0.4);

}
/*Buttons*/

.Game-Buttons{
  background-color: white;
  color: black;
  border: none;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 8px;
  min-width: 160px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.4);
  outline: none;
  transition: 400ms;
}

/*increase size of button when hovering over*/

.Game-Buttons:hover{
  cursor: pointer;
  transition: 300ms ease;
  transform: scale(1.15);
}

/*click effect*/
.Game-Buttons:active{
  transition: 200ms;
  background-color: rgba(248,240,255,0.4);
  transform: translateY(3px);
  box-shadow: 0rem 0.4rem 0.5rem  rgba(0, 0, 0, 0.4);
}
/*formatting buttons beneath each other*/

.Button-Block{
  width: 20%;
  display: block;
}

/*home menu components*/

/*Game Guide popup on frontpage*/

.Game-Guide .Overlay{
  position: fixed;
  top:0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.Game-Guide .Content{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 70vw;
  height: 60vh;
  z-index: 2;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 300ms;
}

.Exit-Button{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  color: white;
  width: 5ex;
  height: 5ex;
  line-height: 5ex;
  text-align: center;
  border-radius: 50%;
  transform: scale(0.7);
}

.Exit-Button:hover{
  color: #d20816;
  background-color: rgba(0,0,0,0.85);
}

.Game-Guide.active .Overlay{
  display: block;
}

.Game-Guide.active .Content{
  transition: all 500ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#Help-Button{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: block;
  margin-top: 10px;
  padding: 0.5rem;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 600;
  min-width: 1rem;
}


/*Buttons in login menu*/

#Create-User-Button{
  margin-top: 15px;
}

#Name-Input{
  font-weight: 500;
  padding: 12px 0px;
  margin: auto;
  margin-top: 50px;
  outline: none;
  text-align: center;
}

#Name-Input:hover{
  cursor: text;
  transform: none;
}
#Name-Input:active{
  background-color: white;
  transform: none;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.4);
}
#Name-Input:focus{
  box-shadow: inset 0rem 0rem 0rem 0.1rem rgba(136,47,255,1);
}

/*Buttons in play menu*/

#Create-Game-Button{
  margin: auto;
  margin-top: 100px;
}

#Join-Random-Game-Button{
  margin: auto;
  margin-top: 50px
}

#Join-Game-Button{
  margin: auto;
  margin-top: 50px;
}

#Join-Game-Input{
  font-weight: 500;
  padding: 12px 0px;
  margin: auto;
  margin-top: 15px;
  outline: none;
  text-align: center;
}
#Join-Game-Input:hover{
  cursor: text;
  transform: none;
}
#Join-Game-Input:active{
  background-color: white;
  transform: none;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.4);
}

#Join-Game-Input:focus{
  box-shadow: inset 0rem 0rem 0rem 0.1rem rgba(136,47,255,1);
}

/*Buttons in game menu*/

#Start-Game-Button{
  margin: auto;
  margin-top: 2rem;
}

#Stop-Game-Button{
  margin-top: 2rem;
}

#Leave-Game-Button{
  margin-top: 2rem;
}

#Commit-Answer-Button{
  margin-top: 2rem;
}

/*Game menu components*/

/*Player-Table*/

.Player-Table{
  background-color: rgba(54, 53, 53, 0.6);
  border-radius: 8px;
  margin: auto;
  width: 30%;
}

/*Cards*/

.Cards {
  margin-top: 3rem;

}

/*Black Card*/
.Black-Card{
  display: inline-flex;
  text-align: start;
  height: 15rem;
  width: 10rem;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: black;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.6);
  transition: 300ms;
}

.Card-Parent {
  position: relative;
}

.Card-Parent:hover{
  transition: 250ms ease;
  transform: matrix(1.1, -0.06, 0.06, 1.1, 0, 0);
}

/*White Card*/
.White-Cards-Table li{
  margin-top: 0px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}

#Chosen-Card-Button{
  display: inline-flex;
  text-align: start;
  height: 10rem;
  width: 7rem;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.6);
  transition: 300ms;

  color: rgba(255,105,18,0.85);

  box-shadow:0px 0px 0px 1px rgba(255,105,18,1);

}

#Choose-Card-Button{
  display: inline-flex;
  text-align: start;
  height: 10rem;
  width: 7rem;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.6);
  transition: 300ms;
}
/*pointer effect when hovering over the white cards*/

#Choose-Card-Button:hover{
  cursor: pointer;
}

/*effect when selecting a card*/

#Choose-Card-Button:focus{
  color: rgba(255,105,18,0.85);

  box-shadow:0px 0px 0px 1px rgba(255,105,18,1);
  animation: animate-shadow-card 300ms;
}

@keyframes animate-shadow-card{
  100%{
    box-shadow: 0px 0px 50px 20px rgba(255,105,18,0);
  }
}

/*Answer*/

.Answer-Table li{
  margin-top: 0px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}

#Choose-Answer-Button{
  display: inline-flex;
  text-align: start;
  height: 10rem;
  width: 7rem;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0rem 0.1rem 0.5rem  rgba(0, 0, 0, 0.6);
  transition: 300ms;
}
#Choose-Answer-Button:hover {
  cursor: pointer;
}
/* czar select winning answer effect */
#Choose-Answer-Button:focus{

  color: rgba(136,47,255,0.85);

  box-shadow:0px 0px 0px 1px rgba(136,47,255,1);
  animation: animate-shadow-answer 300ms;
}

@keyframes animate-shadow-answer{
  100%{
    box-shadow: 0px 0px 50px 20px rgba(136,47,255,0);
  }

}

/* Winning/Losing Animation */
.Crown{
  margin-top: 100px;
  transform: translate(-50%, -50%);
  animation: animate-rotation 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate-rotation {
  0%{
    transform: translate(-50%, -50%) rotate(25deg)
  }
  100%{
    transform: translate(-50%, -50%) rotate(-25deg);
  }
}



/*temporarily turns off unimportant buttons

#Debug-User-Button{
  display: none;
}

#Delete-User-Button{
  display: none;
}

#Debug-Games-Button{
  display: none;
}

#Delete-Game-Button{
  display: none;
}

*/





/*Card Packs*/

.Card-Packs-Table{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-flex;
}

#Card-Packs-Button{
  display:inline-flex;
  text-align: start;
  height: 10rem;
  width: 7rem;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.6);
}
