.App {
  text-align: center;
}


.Router-Header {
  display: flex;
  flex-direction: row;

}
.Router-List {
  display:flex;
  flex-direction: column;
  
}

.Login-Buttons {
  width: 100px;
  height: 100px;

}